<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- CSS here -->
	<link rel="stylesheet" href="{{siteUrl}}assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/slicknav.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/flaticon.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/animate.min.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/magnific-popup.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/themify-icons.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/slick.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/nice-select.css">
	<link rel="stylesheet" href="{{siteUrl}}assets/css/style.css">
    <link rel="stylesheet" href="{{siteUrl}}assets/css/newLine.css">
    
</head>

<body class="body-bg">

{% block content %}

{% endblock %}

  <!-- JS here -->
  <script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity( elem, {
    // options
    cellAlign: 'left',
    contain: true
});

// element argument can be a selector string
//   for an individual element
var flkty = new Flickity( '.main-carousel', {
  // options
});
  </script>
    <!-- JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="{{siteUrl}}assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{siteUrl}}assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{siteUrl}}assets/js/popper.min.js"></script>
    <script src="{{siteUrl}}assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{{siteUrl}}assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{{siteUrl}}assets/js/owl.carousel.min.js"></script>
    <script src="{{siteUrl}}assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{{siteUrl}}assets/js/wow.min.js"></script>
    <script src="{{siteUrl}}assets/js/animated.headline.js"></script>
    <script src="{{siteUrl}}assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="{{siteUrl}}assets/js/jquery.nice-select.min.js"></script>
    <script src="{{siteUrl}}assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{{siteUrl}}assets/js/jquery.counterup.min.js"></script>
    
    <!-- contact js -->
    <script src="{{siteUrl}}assets/js/contact.js"></script>
    <script src="{{siteUrl}}assets/js/jquery.form.js"></script>
    <script src="{{siteUrl}}assets/js/jquery.validate.min.js"></script>
    <script src="{{siteUrl}}assets/js/mail-script.js"></script>
    <script src="{{siteUrl}}assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{{siteUrl}}assets/js/plugins.js"></script>
    <script src="{{siteUrl}}assets/js/main.js"></script>
</body>
</html>
